[submodule "thirdparty/spdlog"]
	path = thirdparty/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "thirdparty/hooking-api"]
	path = thirdparty/hooking-api
	url = git@github.com:youngslab/hooking-api.git
